name: CI

on:
  pull_request:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin

      - name: Gradle cache
        uses: gradle/actions/setup-gradle@v3

      - name: Build
        run: ./gradlew build

      - name: Build Plugin ZIP
        run: ./gradlew buildPlugin

      - name: Verify Plugin
        run: ./gradlew runPluginVerifier

      - name: Upload plugin artifact
        uses: actions/upload-artifact@v4
        with:
          name: plugin-zip
          path: build/distributions/*.zip
